[workspace]
authors = ["Bill Welense <billw@modular.com>"]
channels = ["https://conda.modular.com/max-nightly", "conda-forge"]
name = "max"
platforms = ["osx-arm64", "linux-64"]
version = "0.0.0"

[tasks]
update = "pixi update modular"

[tasks.max]
depends-on = ["update"]

args = [
  { "arg" = "model", "default" = "" },
  { "arg" = "weights", "default" = "" },
]

cmd = """max serve --trust-remote-code --model {% if model %}{{ model }}{% else %}{{ env.MAX_MODEL }}{% endif %}{% if weights %} --weight-path {{ weights }}{% elif env.MAX_WEIGHTS %} --weight-path {{ env.MAX_WEIGHTS }}{% endif %}"""

[activation]
scripts = ["activation.sh"]

[dependencies]
modular = ">=25.7.0.dev2025110305"
