[workspace]
authors = ["Bill Welense <billw@modular.com>"]
channels = ["https://conda.modular.com/max-nightly", "conda-forge"]
name = "max"
platforms = ["osx-arm64", "linux-64"]
version = "0.0.0"

[activation]
scripts = ["activation.sh"]

[tasks]
update = "pixi update modular"

[tasks.max]
args = [
  { "arg" = "model", "default" = "" },
  { "arg" = "weights", "default" = "" },
]

cmd = """
max serve --trust-remote-code \
  {% if model %}--model {{ model }}{% else %}$MAX_MODEL{% endif %} \
  {% if weights %}--weight-path {{ weights }}{% else %}$MAX_WEIGHTS{% endif %} \
"""

[dependencies]
modular = ">=25.7.0.dev2025110305"
